@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* General Style Adjustments */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    font-family: "Kanit", sans-serif;
    text-align: center;
}
/* Navigation Bar Styles */
header {
    background-color: #333; 
    padding: 0.5rem 0; 
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 1000; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 0 5%; /
}

.nav-title {
    color: white; 
    font-size: 1.8rem; 
    font-weight: bold; 
    text-decoration: none; 
}
.nav-title:hover {
    color: #23affa;
}

nav ul {
    list-style-type: none; 
    display: flex; 
    justify-content: flex-end; 
    margin: 1rem 1rem; 
}

nav ul li {
    margin: 0.5rem 1rem; 
}

nav ul li a {
    color: white; 
    text-decoration: none; 
    font-size: 1.2rem;
}

nav ul li a:hover {
    text-decoration: none;
    color: #23affa;
}

/* About Page Specific Styles */
.container {
    max-width: 90%;
    padding: 1.5rem;
    margin-top: 6rem; 
}

.date-inputs, .time-inputs {
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin-bottom: 15px;
    flex-wrap: nowrap; 
    margin-top: 30px;
}

#age-display {
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
}

#age-label {
    font-size: 3em;
    margin-bottom: 10px;
}

.time-unit, .year-unit {
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.year-unit {
    margin: 0 20px; 
}

.year-unit span {
    font-size: 6em; 
    color: #4CAF50; 
}

.year-unit label {
    font-size: 1em; 
    opacity: 0.7; 
}

.time-unit {
    margin: 0 15px; 
    margin-bottom: 80px;
}

.time-unit span {
    font-size: 2em; 
}

.time-unit label {
    font-size: 1em; 
    margin-top: 10px; 
    opacity: 0.7; 
}

/* Input and Button Styles */
    input, select, button {
    font-size: 1em;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: rgb(22, 191, 22);
    color: white;
}

input[type="number"]#year {
    width: 80px;
    text-align: left;
    padding: 0 10px;
}

@media (max-width: 600px) {

    header {
        flex-direction: column; 
        padding: 0.5rem 1em; 
    }

    .nav-title {
        font-size: 1.5em; 
        margin-bottom: 0.5em; 
    }
    
    nav ul {
        display: none; 
        flex-direction: column; 
      }
    
    .nav-active {
        display: flex; 
    }
    
    
    nav ul li {
        margin: 0.5em 0;
    }
    
    nav ul li a {
        font-size: 1.2em;
    }
      
    h1 {
        font-size: 2.5em; 
    }

    #age-label {
        font-size: 2em;
    }

    #age-display {
        font-size: 2.5em; 
        gap: 30px; 
        align-items: center;
        flex-wrap: wrap
    }

    .year-unit span {
        font-size: 4em; 
    }

    .year-unit label {
        font-size: 0.5em;
    }

    .time-unit, .year-unit {
        display: flex;
        flex-direction: column; 
        align-items: center;
        margin: 5px 10px 5px 10px; 
    }

    .time-unit span {
        font-size: 2em; 
    }

    .time-unit label {
        font-size: 0.5em;
        opacity: 0.7;
    }
}

#reset-button {
    position: fixed; 
    bottom: 1em; 
    left: 1em; 
    padding: 0.5em 0.75em;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; 
    color: white; 
    font-size: 0.4em; 
    cursor: pointer; 
    z-index: 1000; 
}

#reset-button:hover {
    background-color: rgb(191, 53, 22); 
}

