/* General Style Adjustments */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.container {
    text-align: center;
    max-width: 100%;
    padding: 20px;
}

.date-inputs, .time-inputs {
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin-bottom: 15px;
    flex-wrap: nowrap; 
    margin-top: 30px;
}

#age-display {
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
}

#age-label {
    font-size: 3em;
    margin-bottom: 10px;
}

.time-unit, .year-unit {
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.year-unit {
    margin: 0 20px; 
}

.year-unit span {
    font-size: 6em; 
    color: #4CAF50; 
}

.year-unit label {
    font-size: 1em; 
    opacity: 0.7; 
}

.time-unit {
    margin: 0 15px; 
    margin-bottom: 80px;
}

.time-unit span {
    font-size: 2em; 
}

.time-unit label {
    font-size: 1em; 
    margin-top: 10px; 
    opacity: 0.7; 
}

/* Input and Button Styles */
    input, select, button {
    font-size: 1em;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: rgb(22, 191, 22);
    color: white;
}

input[type="number"]#year {
    width: 80px;
    text-align: left;
    padding: 0 10px;
}

@media (max-width: 480px) {
    h1 {
        font-size: 2.5em; 
    }

    #age-label {
        font-size: 2em;
    }

    #age-display {
        font-size: 2.5em; 
        gap: 30px; 
        align-items: center;
        flex-wrap: wrap;
    }

    .year-unit span {
        font-size: 4em; 
    }

    .year-unit label {
        font-size: 0.5em;
    }

    .time-unit, .year-unit {
        display: flex;
        flex-direction: column; 
        align-items: center;
        margin: 5px 10px 5px 10px; 
    }

    .time-unit span {
        font-size: 2em; 
    }

    .time-unit label {
        font-size: 0.5em;
        opacity: 0.7;
    }
}

#reset-button {
    position: fixed; 
    bottom: 1em; 
    left: 1em; 
    padding: 0.5em 0.75em;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; 
    color: white; 
    font-size: 0.5em; 
    cursor: pointer; 
    z-index: 1000; 
}

#reset-button:hover {
    background-color: rgb(191, 53, 22); 
}

